@charset "UTF-8";
@font-face {
  font-family: 'Monument';
  src: url("../fonts/MonumentExtended-Regular.eot");
  src: local("☺"), url("../fonts/MonumentExtended-Regular.woff") format("woff"), url("../fonts/MonumentExtended-Regular.ttf") format("truetype"), url("../fonts/MonumentExtended-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument';
  src: url("../fonts/MonumentExtended-Ultrabold.eot");
  src: local("☺"), url("../fonts/MonumentExtended-Ultrabold.woff") format("woff"), url("../fonts/MonumentExtended-Ultrabold.ttf") format("truetype"), url("../fonts/MonumentExtended-Ultrabold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Sen';
  src: url("../fonts/Sen-Regular.eot");
  src: local("☺"), url("../fonts/Sen-Regular.woff") format("woff"), url("../fonts/Sen-Regular.ttf") format("truetype"), url("../fonts/Sen-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sen';
  src: url("../fonts/Sen-Bold.eot");
  src: local("☺"), url("../fonts/Sen-Bold.woff") format("woff"), url("../fonts/Sen-Bold.ttf") format("truetype"), url("../fonts/Sen-Bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Sen';
  font-weight: normal;
  font-size: 16px;
  background: #2F2F32;
  color: #fff;
}

.container {
  width: 90%;
  padding: 0px 15px;
  margin: 0 auto;
}

.title-style {
  font-family: 'Sen';
  font-size: 18px;
  letter-spacing: .03em;
  font-weight: 800;
  color: #eee;
  margin-bottom: 10px;
}

.description-style {
  font-family: 'Sen';
  font-size: 15px;
  letter-spacing: 3%;
  font-weight: normal;
  color: #ccc;
}

.h2-description {
  font-family: 'Sen';
  font-size: 15px;
  color: #EC3236;
}

nav ul {
  list-style: none;
}

ins {
  font-family: 'Monument', sans-serif;
  font-weight: 800;
  text-decoration: none;
}

del {
  text-decoration: none;
}

h2 {
  font-family: 'Monument';
  font-size: 38px;
  letter-spacing: 7%;
  font-weight: normal;
  margin: 20px 0;
}

.header {
  padding: 15px 0;
  background: #2F2F32;
  border-bottom: 1px solid #5a5a60;
}

.header__topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__topmenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__topmenu-list li:not(.no-margin) {
  margin-right: 20px;
}

.header__topmenu-list a {
  padding: 0 0;
  color: #888;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__topmenu-list a:hover, .header__topmenu-list a:active {
  color: #fff;
}

.navigation__botmenu {
  position: relative;
  margin: 0 auto;
  z-index: 5;
  width: 100%;
}

.navigation__botmenu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.navigation__botmenu-list {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 0;
  background: #fff;
}

.navigation__botmenu-link {
  display: block;
  padding: 20px 30px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  z-index: 10;
  z-index: 100;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navigation__botmenu-link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background-color: #EC3236;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.navigation__botmenu-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.navigation__botmenu-link:hover {
  color: #fff;
}

.main {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc( 100vh - 66px);
  width: 100%;
}

.main__body {
  width: 100%;
  padding: 0px 15%;
  color: #fff;
  z-index: 5;
}

.main__image {
  position: relative;
  padding: 0 0 40% 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__container {
  width: 50%;
  background: linear-gradient(135.98deg, #D32C30 0%, #B5282B 100%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.main__line {
  width: 1px;
  height: 100%;
  background: #fff;
  opacity: .15;
  position: relative;
}

.main__line::before {
  content: '';
  position: absolute;
  height: 65px;
  width: 3px;
  top: 20%;
  left: -1px;
  background: #fff;
}

.main__line2::before {
  top: 50%;
}

.main__line3::before {
  top: 30%;
}

.main__line3::after {
  content: '';
  position: absolute;
  height: 65px;
  width: 3px;
  bottom: 5%;
  left: -1px;
  background: #fff;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__image img {
  max-width: 100%;
}

.main__title {
  font-family: 'Monument', sans-serif;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: normal;
  text-transform: uppercase;
}

.main__btn a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  display: block;
  width: 270px;
  margin-top: 50px;
  padding: 20px 50px;
}

@media (max-width: 767px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 60vh;
  }
  .main__image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 0 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    min-height: 60vh;
  }
  .main__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__container {
    width: 100%;
  }
}

.advantage-section {
  padding: 100px 0;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantage__tabList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantage__tabText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px 0px 140px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.advantage__tabText::before {
  content: url(../img/icon-bg.png);
  position: absolute;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  left: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.advantage__tabText-brokering::after {
  content: url(../img/brokering-icon.svg);
  position: absolute;
  left: 53px;
}

.advantage__tabText-capacity::after {
  content: url(../img/capacity-icon.svg);
  position: absolute;
  left: 53px;
}

.advantage__tabText-tracking::after {
  content: url(../img/tracking-icon.svg);
  position: absolute;
  left: 53px;
}

.advantage__tabText-support::after {
  content: url(../img/support-icon.svg);
  position: absolute;
  left: 53px;
}

.advantage__tabBtn {
  height: 100%;
  background: #EC3236;
  line-height: 170px;
  display: block;
  padding: 0px 15px 0 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 0;
  position: relative;
}

.advantage__tabBtn::before {
  content: url(../img/more-btn.svg);
  position: absolute;
  right: 5px;
  top: 5px;
  width: 17px;
  height: 17px;
  z-index: 10;
}

.advantage__tabItem {
  width: 500px;
  height: 170px;
  background: rgba(31, 31, 33, 0.9);
  border-bottom: 1px solid #2F2F32;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__tabItem--active {
  background: rgba(40, 40, 43, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.advantage__tabItem--active .advantage__tabBtn {
  font-size: 16px;
  padding-right: 30px;
}

.advantage__tabItem--active .advantage__tabText::before {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.advantage__tabItem:hover .advantage__tabBtn {
  font-size: 16px;
  padding-right: 30px;
}

.advantage__tabItem:hover .advantage__tabText::before {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.advantage__contentList {
  margin: 5px;
  padding: 20px;
}

.advantage__contentItem {
  position: relative;
  font-size: 24px;
  padding: 20px;
  display: none;
}

.advantage__contentItem img {
  border-radius: 5px;
}

.advantage__contentItem::after {
  content: '';
  position: absolute;
  width: 520px;
  height: 477px;
  left: -50px;
  top: 80px;
  z-index: -2;
  background: #EC3236;
  border-radius: 5px;
}

.advantage__contentItem::before {
  content: '';
  position: absolute;
  width: 520px;
  height: 477px;
  right: -10px;
  top: 100px;
  z-index: -1;
  border: 1px solid #fff;
  border-radius: 5px;
}

.advantage__contentItem--active {
  display: block;
}
