.affiliates{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    &__container{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    &__header{
        height: 500px;
        width: 100vw;
        position: relative;
        overflow: hidden;
        background: url('../img/affiliates-background.jpg');
        background-size: cover;
        &Description{
            @include h2-title;
            text-transform: uppercase;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__services{
        padding: 100px 0;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
    &__serviceBox{
        flex-basis: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px;
        &-wrapper{
            display: flex;
            align-items: flex-end;
        }
    }
    &__serviceTitle{
        flex-basis: 100%;
        text-align: left;
        padding-bottom: 40px;
        @include service-title;
    }
    &__serviceImage{
        flex-basis: 40%;
    }
    &__serviceDescription{
        flex-basis: 55%;
        @include service-description;
    }
    &__line{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #fff;
        margin: 30px 0;
        &::before{
            position: absolute;
            top:0;
            left: 0;
            content: "";
            width: 10%;
            height: 3px;
            background-color: $accent-color;
            //animation: affiliates-line 5s linear infinite;
        }
    }
}
@media (max-width: 1144px){
    .affiliates{
        &__header{
            &Description{
                font-size: 30px;
            }
        }
        &__services{
            padding: 20px 0px 40px 0px;
            width: 100%;
            justify-content: center;
        }
        &__serviceBox{
            flex-basis: 90%;
            padding: 0 0 20px 0;
        }
        &__serviceDescription{
            flex-basis: 60%;
            font-size: 15px;
            padding-left: 5px;
            :nth-child(1){
                margin-top: 10px;
            }
        }
        &__serviceImage{
            align-self: center;
            img{
                width: 250px;
                height: auto;
            }
        }
        &__line{
            width: 95%;
        }
    }
}
@media (max-width: 695px){
    .affiliates{
        &__header{
            &Description{
                width: 100%;
                text-align: center;
            }
        }
        &__services{
            padding: 20px 0px 40px 0px;
            width: 100%;
            justify-content: center;
        }
        &__serviceBox{
            flex-basis: 90%;
            justify-content: center;
            padding: 0 0 20px 0;
        }
        &__serviceTitle{
            font-size: 19px;
            text-align: center;
        }
        &__serviceDescription{
            flex-basis: 100%;
            font-size: 14px;
            padding-left: 20px;
            :nth-child(1){
                margin-top: 10px;
            }
        }
        &__serviceImage{
            align-self: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
}
@media (max-width: 540px){
    .affiliates{
        &__header{
            &Description{
                width: 100%;
                text-align: center;
            }
        }
        &__services{
            padding: 20px 0px 40px 0px;
            width: 100%;
            justify-content: center;
        }
        &__serviceBox{
            flex-basis: 90%;
            justify-content: center;
            padding: 0 0 20px 0;
            &-wrapper{
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        &__serviceTitle{
            font-size: 19px;
            text-align: center;
        }
        &__serviceDescription{
            flex-basis: 100%;
            font-size: 14px;
            padding: 20px 0 20px 0;
            :nth-child(1){
                margin-top: 10px;
            }
        }
        &__serviceImage{
            align-self: center;
            flex-basis: 70%;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
}