.affiliates{
    @include section;
    &__container{
        @include container;
    }
    &__header{
        @include header('../img/affiliates-background.jpg');
        &Description{
            @include h2-title;
            @include h2-center-position;
        }
    }
    &__content{
        @include content;
    }
    &__contentBox{
        flex-basis: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-wrapper{
            flex-basis: 100%;
            flex-wrap: nowrap;
            display: flex;
            align-items: center;
        }
    }
    &__contentTitle{
        flex-basis: 100%;
        text-align: left;
        padding-bottom: 20px;
        @include service-title;
    }
    &__contentDescription{
        @include service-description;
        width: 60%;
    }
    &__line{
        @include line;
    }
}
@media (max-width: 1144px){
    .affiliates{
        &__header{
            &Description{
                font-size: 30px;
            }
        }
        &__content{
            width: 100%;
            &-content{
                justify-content: center;
            }
        }
        &__contentBox{
            flex-basis: 90%;
            &:nth-child(1){
                padding: 0 0 20px 0;
            }
        }
        &__contentDescription{
            flex-basis: 70%;
            font-size: 15px;
            padding-left: 5px;
            :nth-child(1){
                margin-top: 10px;
            }
        }
        &__contentImage{
            align-self: center;
            img{
                width: 250px;
                height: auto;
            }
        }
        &__line{
            width: 95%;
        }
    }
}
@media (max-width: 768px){
    .affiliates{
        &__header{
            &Description{
                width: 100%;
                text-align: center;
            }
        }
        &__content{
            padding: 50px 0;
        }
        &__contentBox{
            justify-content: center;
        }
        &__contentTitle{
            font-size: 19px;
            flex-basis: 90%;
        }
        &__contentDescription{
            font-size: 14px;
            padding-left: 20px;
        }
        &__contentImage{
            flex-basis: 40%;
            width: 250px;
            align-self: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
}
@media (max-width: 540px){
    .affiliates{
        &__content{
            padding: 40px 0;
        }
        &__contentTitle{
            padding: 0;
        }
        &__contentBox{
            &-wrapper{
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        &__contentDescription{
            padding-top: 20px;
            flex-basis: 100%;
        }
        &__contentImage{
            /*
            align-self: center;
            flex-basis: 70%;*/
            img{
                width: 250px;
                height: auto;
            }
        }
    }
}