.cta{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background: rgba(31,31,33,0.9);
    padding: 0 0 100px 0;
    &__container{
        position: relative;
        width: 90%;
        height: 301px;
        display: flex;
        background: #363639;
        box-shadow: 4px 4px 50px rgba(255, 255, 255, .05);
        justify-content: space-between;
    }
    &__header{
        padding: 50px 0 25px 75px;
        &Big{
            padding: 0;
            text-transform: uppercase;
            @include h2-title;
        }
        &Small{
            padding: 0;
            @include h2-description;
        }
    }
    &__btn{
        position: relative;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-top: 50px;
        width: 290px;
        a{
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            transition: .3s;
            position: relative;
            z-index: 1;

            display: block;
            width: auto;
            padding: 20px 0;
            &:hover{
                transition: .3s;
                color: #000;
                z-index: 2;
            }
            &::before{
                content: url(../img/btn__icon.svg);
                width: 18px;
                height: 18px;
                background: #fff;
                padding: 10px;
                border-radius: 5px;

                z-index: 1;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translate(0, -50%);
                transition: all .3s ease;
            }
            &:hover:before{
                padding: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                z-index: -1;
            }
        }
    }
    &__t-letter{
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media (max-width: 1024px){
    .cta{
        &__header{
            &Big{
                font-size: 32px;
            }
        }
    }
}
@media (max-width: 768px){
    .cta{
        &__container{
            height: 208px;
        }
        &__header{
            padding: 25px 0 25px 15px;
            &Big{
                font-size: 26px;
                padding: 0;
            }
        }
        &__btn{
            width: 232px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            a{
                font-size: 14px;
                padding: 15px 0;
                width: 100%;
                &::before{
                    left: 5px;
                }
            }
        }
        &__t-letter{
            img{
                height: 208px;
            }
        }
    }
}
@media (max-width: 550px){
    .cta{
        &__container{
            height: auto;
            padding: 30px 0;
            justify-content: center;
            align-items: center;
        }
        &__header{
            padding: 0 0 0 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            &Big{
                font-size: 25px;
                padding: 0;
                text-align: center;
                flex-basis: 70%;
            }
            &Small{
                flex-basis: 90%;
                font-size: 15px;
                padding: 0;
                text-align: center;
            }
        }
        &__btn{
            width: 232px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            a{
                font-size: 14px;
                padding: 15px 0;
                width: 100%;
                &::before{
                    left: 5px;
                }
            }
        }
        &__t-letter{
            display: none;
        }
    }
}