.cta{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background: rgba(31,31,33,0.9);
    padding: 0 0 100px 0;
    &__container{
        position: relative;
        width: 90%;
        display: flex;
        background: #363639;
        box-shadow: 4px 4px 50px rgba(255, 255, 255, .05);
        justify-content: space-between;
    }
    &__header{
        padding: 50px 0 25px 75px;
        &Big{
            padding: 0;
            text-transform: uppercase;
            @include h2-title;
        }
        &Small{
            padding: 0;
            @include h2-description;
        }
    }
    &__btn{
        position: relative;
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 25px 0 36px 0;
        width: 265px;
        a{
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            transition: .2s;

            display: block;
            width: auto;
            padding: 20px 0;
        }
    }
    &__t-letter{
        position: absolute;
        top: 0;
        right: 0;
    }
}