@font-face {
	font-family: 'Monument';
	src: url('../fonts/MonumentExtended-Regular.eot');
	src: local('☺'), url('../fonts/MonumentExtended-Regular.woff') format('woff'), url('../fonts/MonumentExtended-Regular.ttf') format('truetype'), url('../fonts/MonumentExtended-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Monument';
	src: url('../fonts/MonumentExtended-Ultrabold.eot');
	src: local('☺'), url('../fonts/MonumentExtended-Ultrabold.woff') format('woff'), url('../fonts/MonumentExtended-Ultrabold.ttf') format('truetype'), url('../fonts/MonumentExtended-Ultrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Sen';
	src: url('../fonts/Sen-Regular.eot');
	src: local('☺'), url('../fonts/Sen-Regular.woff') format('woff'), url('../fonts/Sen-Regular.ttf') format('truetype'), url('../fonts/Sen-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Sen';
	src: url('../fonts/Sen-Bold.eot');
	src: local('☺'), url('../fonts/Sen-Bold.woff') format('woff'), url('../fonts/Sen-Bold.ttf') format('truetype'), url('../fonts/Sen-Bold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}


