.footer{
    background: #1a1a1c;
    padding: 60px 60px 30px 60px;
    &__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    &__logo{
        padding-bottom: 20px;
    }
    &__copyright{
        @include p-subtitle;
    }
    &__boxLinks{
        display: flex;
    }
    &__header{
        padding-bottom: 30px;
        span{
            color: $accent-color;
        }
    }
    &__featuredLinks{
        margin-right: 80px;
        div{
            :hover{
                transition: .3s;
                transform: scale(1.1);
            }
            a{
                display: block;
                @include footer-link;
                margin: 0 0 10px 25px;
                position: relative;
            }
            ::before{
                content: "";
                position: absolute;
                top: 50%;
                left: -25px;
                height: 1px;
                width: 15px;
                background-color: $accent-color;
                z-index: 2;
            }
        }
        
    }
    &__contact{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &__contactInfo{
        display: flex;
        padding-bottom: 20px;
        img{
            padding-right: 15px;
        }
        p{
            @include footer-link;
        }
    }
    &__socialLinks{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    &__socialLink{
        margin-right: 15px;
        transform: scale(1);
        :hover{
            transition: .3s;
            transform: scale(1.1);
        }
    }
}
@media (max-width: 1024px){
    .footer{
        padding: 40px 25px 40px 25px;
        &__copyright{
            font-size: 13px;
        }
        &__featuredLinks{
            margin-right: 60px;
        }
        &__socialLinks{
            padding: 20px 0 0 0;
        }
    }
}
@media (max-width: 768px){
    .footer{
        &__featuredLinks{
            margin-right: 60px;
        }
        &__socialLinks{
            padding: 20px 0 0 0;
        }
        &__contactInfo{
            p{
                @include footer-link;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 660px){
    .footer{
        &__logo{
            padding-bottom: 5px;
            img{
                height: 37px;
            }
        }
        &__copyright{
            font-size: 10px;
        }
        &__featuredLinks{
            font-size: 13px;
            div{
                a{
                    font-size: 11px;
                    margin: 0 0 10px 25px;
                }
                ::before{
                    left: -15px;
                    width: 12px;
                }
            }
            
        }
        &__contact{
            font-size: 13px;
        }
        &__contactInfo{
            display: flex;
            padding-bottom: 10px;
            img{
                padding-right: 10px;
            }
            p{
                @include footer-link;
                font-size: 11px;
            }
        }
    }
}
@media (max-width: 550px){
    .footer{
        flex-wrap: wrap;
        &__boxLogo{
            order: 3;
        }
        &__copyright{
            font-size: 13px;
        }
        &__boxLinks{
            flex-wrap: wrap;
        }
        &__featuredLinks{
            order: 1;
            flex-basis: 100%;
            padding-bottom: 30px;
            font-size: 18px;
            div{
                a{
                    font-size: 15px;
                    margin: 0 0 10px 25px;
                }
                ::before{
                    left: -25px;
                    width: 15px;
                }
            }
            
        }
        &__contact{
            font-size: 18px;
            order: 2;
            padding-bottom: 40px;
        }
        &__contactInfo{
            display: flex;
            padding-bottom: 10px;
            img{
                padding-right: 10px;
            }
            p{
                @include footer-link;
                font-size: 15px;
            }
        }
        &__socialLinks{
            order: 4;
            padding: 0;
            flex-basis: auto;
            align-self: flex-start;
            width: 110px;
            height: 110px;
            display: grid;
            grid-auto-columns: 1fr; 
            grid-template-columns: 40px 40px; 
            grid-template-rows: 40px 40px; 
            gap: 10px;
            grid-template-areas: 
                "social-1 social-2"
                "social-3 social-4"; 
        }
    }
}
@media (max-width: 380px){
    .footer{
        &__copyright{
            font-size: 10px;
        }
    }
}