$accent-color: #EC3236;
$gray-color: #2F2F32;


@mixin h2-title {
    font-family: 'Monument';
    font-size: 38px;
    letter-spacing: 7%;
    font-weight: normal;
    margin: 20px 0;
}
@mixin h2-description{
    font-family: 'Sen';
    font-size: 15px;
    color: $accent-color;
}
@mixin text-title {
    font-family: 'Sen';
    font-size: 18px;
    letter-spacing: .03em;
    font-weight: 800;
    color: #eee;
    margin-bottom: 10px;
}
@mixin text-descript {
    font-family: 'Sen';
    font-size: 15px;
    letter-spacing: 3%;
    font-weight: normal;
    color: #ccc;
}
@mixin p-subtitle{
    font-family: 'Sen';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #fff;
}
@mixin footer-link{
    font-family: 'Sen';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
@mixin service-title {
    font-family: 'Sen';
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
}
@mixin service-description {
    font-family: 'Sen';
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 1.4em;
    font-weight: normal;
    color: #ccc;
}
@mixin card-title{
    font-family: 'Sen';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
@mixin card-subtitle{
    font-family: 'Sen';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
}
@mixin mv-subtitle{
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}