@import "_fonts";
@import "_var";
@import "_animations";
@import "_services";
@import "_cta";
@import "_footer";
@import "_affiliates";
@import "_customers";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sen';
    font-weight: normal;
    font-size: 16px;
    background: #1F1F21;
    color: #fff;
}

.container{
    width: 90%;
    padding: 0px 15px;
    margin: 0 auto;
}
span.affiliates-contrast{
    color: #fff;
    font-weight: 800;
}

.title-style{
    @include text-title
}
.description-style{
    @include text-descript
}
.h2-description{
    @include h2-description
}

nav{
    ul{
        list-style: none;
    }
}

ins{
    font-family: 'Monument', sans-serif;
    font-weight: 800;
    text-decoration: none;
}
del{
    text-decoration: none;
}

h2{
    @include h2-title;
}

.header{
    padding: 15px 0;
    background: #2F2F32;
    border-bottom: 1px solid #5a5a60;
    &__topmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-list{
            display: flex;
            li:not(.no-margin){
                margin-right: 20px;
            }
            a{
                padding: 0 0;
                color: #888;
                text-decoration: none;
                font-size: 14px;
                font-weight: normal;
                transition: all .3s ease;
                &:hover, &:active{
                    color: #fff;
                }
            }
        }
    }
    .mobile-menu{
        display: none;
    }
}
@media (max-width: 768px){
    .header{
        &__topmenu{
            justify-content: space-between;
            &-list{
                a{
                    font-size: 10px;
                }
            }
        }
        &__botmenu{
            display: block;
        }
    }
}
@media (max-width: 630px), (max-width: 300px) and (orientation: landscape){
    .header{
        position: fixed;
        z-index: 9999;
        width: 100vw;
        border: none;
        &__topmenu{
            &-list{
                display: none;
            }
        }
        .mobile-menu{
            display: flex;
            &__icon{
                position: absolute;
                top: 0;
                right: 0;
                width: 35px;
                height: 35px;
                margin: 20px;
                cursor: pointer;
                z-index: 999;
                &--active{
                    .bar-1{
                        transform: rotate(45deg);
                        transform-origin: center;
                        position: absolute;
                        top: calc(50% - 8px);
                    }
                    .bar-2{
                        display: none;
                    }
                    .bar-3{
                        transform: rotate(-45deg);
                        transform-origin: center;
                        position: absolute;
                        top: calc(50% - 8px);
                    }
                }
                div{
                    height: 1px;
                    width: 100%;
                    margin-bottom: 8px;
                    background-color: #fff;
                    transition: .7s;
                }
                .bar-2{
                    width: 75%;
                    margin-left: 25%;
                }
            }
            &__container{
                position: absolute;
                top: -470px;
                display: flex;
                flex-wrap: wrap;
                padding-top: 20px;
                transition: .5s;
                background-color: #2f2f32;
                border-bottom: 1px solid $accent-color;
                &--active{
                    position: absolute;
                    top: 56px;
                }
            }
            &__topmenu-nav{
                width: 100vw;
                display: flex;
                justify-content: center;
                font-size: 16px;
                ul{
                    li{
                        padding: 15px;
                        a{
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            &__botmenu-nav{
                background-color: #1f1f21;
                width: 100vw;
                height: 150px;
                padding: 20px 15px;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: center;
                    padding: 10px;
                    li{
                        flex-basis: 26%;
                        margin-bottom: 30px;
                        text-align: center;
                        a{
                            color: #fff;
                            font-size: 11px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.navigation{
    &__botmenu{
        position: relative;
        margin: 0 auto;
        z-index: 5;
        width: 100%;
        &-nav{
            display: flex;
            justify-content: center;
            flex-basis: 100%;
        }
        &-list{
            flex-basis: 20%;
            display: flex;
            width: auto;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            top: 0;
            background: #fff;
        }
        &-link{
            display: block;
            padding: 20px 30px;
            color: #000;
            font-size: 18px;
            text-decoration: none;
            z-index: 10;
        
            z-index: 100;
            position: relative;
            transition: all .2s ease;
            &::before{
                content: " ";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                background-color: $accent-color;
                transition: transform .3s ease;
                z-index: -1;
               
                transform: scaleX(0);
                transform-origin: bottom right;
            }
            &:hover::before{
                transform: scaleX(1);
                transform-origin: bottom left;
            }
            &:hover{
                color: #fff;
            }
        }
    }
}
@media (max-width: 835px){
    .navigation{
        display: flex;
        justify-content: center;
        &__botmenu{
            padding: 0;
            &-link{
                font-size: 14px;
                padding: 15px 25px;
            }
        }
    }
}
@media (max-width: 630px){
    .navigation{
        display: none;
    }
}

.main{
    overflow: hidden;
    display: flex;
    height: calc( 100vh - 66px );
    width: 100%;
    &__body{
        width: 100%;
        padding: 0px 15%;
        color: #fff;
        z-index: 5;
    }
    &__image{
        position: relative;
        padding: 0 0 40% 0;

        flex: 0 0 50%;
        transform: translate(-100%, 0);
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    &__container{
        width: 50%;
        background: linear-gradient(135.98deg, #D32C30 0%, #B5282B 100%);

        position: relative;
        display: flex;
        align-items: center;
    }
    &__lines{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        z-index: 0;

        position: absolute;
    }
    &__line{
        width: 1px;
        height: 100%;
        background: #fff;
        opacity: .15;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 65px;
            width: 3px;

            top: -10%;
            left: -1px;
            background: #fff;

            animation: line-down 5.5s 1.5s linear infinite;
        }
    }
    &__line2{
        &::before{
            top: -10%;
            animation: line-up 3.5s linear infinite;
        }
    }
    &__line3{
        &::before{
            top: -10%;

            animation: line-up 4.5s 2s linear infinite;
        }
        &::after{
            content: '';
            position: absolute;
            height: 65px;
            width: 3px;

            top: -10%;
            left: -1px;
            background: #fff;

            animation: line-down 3s linear infinite;
        }
    }
    &__content{
        flex: 0 0 100%;
        display: flex;
    }
    &__image{
        img{
            max-width: 100%;
        }
    }
    &__title{
       font-family: 'Monument', sans-serif;
       letter-spacing: 2px;
       font-size: 38px;
       font-weight: normal;
       text-transform: uppercase;
    }
    &__btn{
        position: relative;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-top: 50px;
        width: 290px;
        a{
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            transition: .3s;
            position: relative;

            display: block;
            width: auto;
            padding: 20px 0;
            &::before{
                content: url(../img/btn__icon.svg);
                width: 18px;
                height: 18px;
                background: #fff;
                padding: 10px;
                border-radius: 5px;

                z-index: -1;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translate(0, -50%);
                transition: all .3s ease;
            }
            &:hover:before{
                padding: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &:hover{
                color: #000;
            }
        }
    }
}

@media (max-width: 1124px){
    .main{
        display: flex;
        height: auto;
        overflow: hidden;
        &__container{
            padding-bottom: 100px;
            width: 100%;
        }
        &__content{
            display: flex;
            width: 100%;
            height: auto;
        }
        &__body{
            padding: 0 0;
            display: flex;
            flex-wrap: wrap;
        }
        &__btn{
            margin-left: 50px;
        }
        &__title{
            padding: 200px 30px 0px 50px;
            font-size: 36px;
            flex-basis: 100%;
        }
        &__line{
            height: 120%;
        }
    }
}
@media (max-width: 1024px){
    .main{
        &__title{
            font-size: 26px;
        }
    }
}
@media (max-width: 768px){
    .main{
        display: flex;
        height: auto;
        overflow: hidden;
        &__container{
            padding-bottom: 100px;
            width: 100%;
        }
        &__content{
            display: flex;
            width: 100%;
            height: auto;
        }
        &__body{
            padding: 0 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__title{
            padding: 200px 30px 0px 50px;
            font-size: 36px;
            flex-basis: 100%;
        }
        &__btn{
            margin-top: 75px;
            a{
                padding: 20px 0;
            }
        }
        &__image{
            display: none;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
        &__line{
            height: 120%;
        }
    }
}
@media (max-width: 500px){
    .main{
        &__title{
            padding: 100px 0 0 20px;
            font-size: 24px;
        }
        &__btn{
            justify-content: center;
            margin-left: 0;
        }
    }
}

.advantage-section{
    padding: 100px 0;
    position: relative;
}
//particles js

.particles-js-canvas-el{
    position: absolute;
    top: 0;
    z-index: -1;
    background: $gray-color;
}

.advantage{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    &__tabList{
        display: flex;
        flex-direction: column;
    }

    &__tabText{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 30px 0px 140px;
        transition: all .3s ease;
        &::before{
            content: url(../img/icon-bg.png);
            position: absolute;
            filter: grayscale(100%);
            left: 25px;
            transition: all .3s ease;
        }
        &-brokering{
            &::after{
                content: url(../img/brokering-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
        &-capacity{
            &::after{
                content: url(../img/capacity-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
        &-tracking{
            &::after{
                content: url(../img/tracking-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
        &-support{
            &::after{
                content: url(../img/support-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
    }
    &__tabBtn{
        height: 100%;
        background: $accent-color;
        line-height: 170px;
        display: block;
        padding: 0px 15px 0 10px;
        transition: all .3s ease;
        font-size: 0;

        position: relative;
        &::before{
            content: url(../img/more-btn.svg);
            position: absolute;
            right: 5px;
            top: 5px;
            width: 17px;
            height: 17px;
            z-index: 10;
        }
    }
    
    &__tabItem{
      width: 500px;
      height: 170px;
      background: rgba(31, 31, 33, 0.9);
      border-bottom: 1px solid #2F2F32;

      cursor: pointer;
      display: flex;
      
      &--active{
        background: rgba(40, 40, 43, 0.6);
        backdrop-filter: blur(20px);
        .advantage__tabBtn{
            font-size: 16px;
            padding-right: 30px;
        }
        .advantage__tabText::before{
            filter: grayscale(0%);
        }
      }
      &:hover{
            .advantage__tabBtn{
                font-size: 16px;
                padding-right: 30px;
            }
            .advantage__tabText::before{
                filter: grayscale(0%);
            }
        }
    }
    
    &__contentList{
        margin: 5px;
        padding: 20px;
    }
    
    &__contentItem{
        position: relative;
        font-size: 24px;
        padding: 20px;
        display: none;
        img{
          border-radius: 5px;
          padding: 50px;
        }
        background-image: 
        url(../img/anim-img1.png),
        url(../img/anim-img2.png);
        background-repeat: no-repeat;
        background-position: top right, bottom left;
      
        &--active{
            display: block;
        }
    }
}
/*
@media (max-width: 1250px){
    .advantage{
        padding: 5px;
        &__contentList{
            width: 40%;
            height: auto;
        }
        &__contentItem{
            img{
                width: 420px;
            }
        }
        &__tabList{
            flex-wrap: wrap;
        }
        &__tabItem{
            height: 140px;
            width: 400px;
        }
        &__tabText{
            padding: 50px 20px 50px 50px;
        }
    }
}
*/