@import "_fonts";
@import "_var";
@import "_animations";
@import "_services";
@import "_cta";
@import "_footer";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sen';
    font-weight: normal;
    font-size: 16px;
    background: #2F2F32;
    color: #fff;
}

.container{
    width: 90%;
    padding: 0px 15px;
    margin: 0 auto;
}

.title-style{
    @include text-title
}
.description-style{
    @include text-descript
}
.h2-description{
    @include h2-description
}

nav{
    ul{
        list-style: none;
    }
}

ins{
    font-family: 'Monument', sans-serif;
    font-weight: 800;
    text-decoration: none;
}
del{
    text-decoration: none;
}

h2{
    @include h2-title;
}

.header{
    padding: 15px 0;
    background: #2F2F32;
    border-bottom: 1px solid #5a5a60;
    &__topmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-list{
            display: flex;
            li:not(.no-margin){
                margin-right: 20px;
            }
            a{
                padding: 0 0;
                color: #888;
                text-decoration: none;
                font-size: 14px;
                font-weight: normal;
                transition: all .3s ease;
                &:hover, &:active{
                    color: #fff;
                }
            }
        }
    }
}

.navigation{
    &__botmenu{
        position: relative;
        margin: 0 auto;
        z-index: 5;
        width: 100%;
        &-nav{
            display: flex;
            justify-content: center;
            flex-basis: 100%;
        }
        &-list{
            flex-basis: 20%;
            display: flex;
            width: auto;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            top: 0;
            background: #fff;
        }
        &-link{
            display: block;
            padding: 20px 30px;
            color: #000;
            font-size: 18px;
            text-decoration: none;
            z-index: 10;
        
            z-index: 100;
            position: relative;
            transition: all .2s ease;
            &::before{
                content: " ";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                background-color: $accent-color;
                transition: transform .3s ease;
                z-index: -1;
               
                transform: scaleX(0);
                transform-origin: bottom right;
            }
            &:hover::before{
                transform: scaleX(1);
                transform-origin: bottom left;
            }
            &:hover{
                color: #fff;
            }
        }
    }
}

.main{
    overflow: hidden;
    display: flex;
    height: calc( 100vh - 66px );
    width: 100%;
    &__body{
        width: 100%;
        padding: 0px 15%;
        color: #fff;
        z-index: 5;
    }
    &__image{
        position: relative;
        padding: 0 0 40% 0;

        flex: 0 0 50%;
        transform: translate(-100%, 0);
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    &__container{
        width: 50%;
        background: linear-gradient(135.98deg, #D32C30 0%, #B5282B 100%);

        position: relative;
        display: flex;
        align-items: center;
    }
    &__lines{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        z-index: 0;

        position: absolute;
    }
    &__line{
        width: 1px;
        height: 100%;
        background: #fff;
        opacity: .15;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 65px;
            width: 3px;

            top: -10%;
            left: -1px;
            background: #fff;

            animation: line-down 5.5s 1.5s linear infinite;
        }
    }
    &__line2{
        &::before{
            top: -10%;
            animation: line-up 3.5s linear infinite;
        }
    }
    &__line3{
        &::before{
            top: -10%;

            animation: line-up 4.5s 2s linear infinite;
        }
        &::after{
            content: '';
            position: absolute;
            height: 65px;
            width: 3px;

            top: -10%;
            left: -1px;
            background: #fff;

            animation: line-down 3s linear infinite;
        }
    }
    &__content{
        flex: 0 0 100%;
        display: flex;
    }
    &__image{
        img{
            max-width: 100%;
        }
    }
    &__title{
       font-family: 'Monument', sans-serif;
       letter-spacing: 2px;
       font-size: 38px;
       font-weight: normal;
       text-transform: uppercase;
    }
    &__btn{
        position: relative;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-top: 50px;
        width: 290px;
        a{
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            transition: .3s;
            position: relative;

            display: block;
            width: auto;
            padding: 20px 0;
            &::before{
                content: url(../img/btn__icon.svg);
                width: 18px;
                height: 18px;
                background: #fff;
                padding: 10px;
                border-radius: 5px;

                z-index: -1;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translate(0, -50%);
                transition: all .3s ease;
            }
            &:hover:before{
                padding: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &:hover{
                color: #000;
            }
        }
    }
}

@media (max-width: 767px){
    .main{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        &__content{
            display: flex;
            width: 100%;
            min-height: 60vh;
        }
        &__image{
            overflow: hidden;
            flex-basis: 100%;
            padding: 0 0 0 0;
            flex: 0 0 100%;
            transform: translate(0, 0);
            min-height: 60vh;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
        &__container{
            width: 100%;
        }
    }
}


.advantage-section{
    padding: 100px 0;
    position: relative;
}
//particles js

.particles-js-canvas-el{
    position: absolute;
    top: 0;
    z-index: -1;
}

// .advantage{
//     display: flex;
//     justify-content: space-around;

//     &__tabList{
//         display: flex;
//         flex-direction: column;
//     }

//     &__tabText{
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         height: 100%;
//         justify-content: center;
//         padding: 0 30px 0px 140px;
//         transition: all .3s ease;
//         &::before{
//             content: url(../img/icon-bg.png);
//             position: absolute;
//             filter: grayscale(100%);
//             left: 25px;
//             transition: all .3s ease;
//         }
//         &-brokering{
//             &::after{
//                 content: url(../img/brokering-icon.svg);
//                 position: absolute;
//                 left: 53px;
//             }
//         }
//         &-capacity{
//             &::after{
//                 content: url(../img/capacity-icon.svg);
//                 position: absolute;
//                 left: 53px;
//             }
//         }
//         &-tracking{
//             &::after{
//                 content: url(../img/tracking-icon.svg);
//                 position: absolute;
//                 left: 53px;
//             }
//         }
//         &-support{
//             &::after{
//                 content: url(../img/support-icon.svg);
//                 position: absolute;
//                 left: 53px;
//             }
//         }
//     }
//     &__tabBtn{
//         height: 100%;
//         background: $accent-color;
//         line-height: 170px;
//         display: block;
//         padding: 0px 15px 0 10px;
//         transition: all .3s ease;
//         font-size: 0;

//         position: relative;
//         &::before{
//             content: url(../img/more-btn.svg);
//             position: absolute;
//             right: 5px;
//             top: 5px;
//             width: 17px;
//             height: 17px;
//             z-index: 10;
//         }
//     }
    
//     &__tabItem{
//       width: 500px;
//       height: 170px;
//       background: rgba(31, 31, 33, 0.9);
//       border-bottom: 1px solid #2F2F32;

//       cursor: pointer;
//       display: flex;
      
//       &--active{
//         background: rgba(40, 40, 43, 0.6);
//         backdrop-filter: blur(20px);
//         .advantage__tabBtn{
//             font-size: 16px;
//             padding-right: 30px;
//         }
//         .advantage__tabText::before{
//             filter: grayscale(0%);
//         }
//       }
//       &:hover{
//             .advantage__tabBtn{
//                 font-size: 16px;
//                 padding-right: 30px;
//             }
//             .advantage__tabText::before{
//                 filter: grayscale(0%);
//             }
//         }
//     }
    
//     &__contentList{
//         margin: 5px;
//         padding: 20px;
//     }
    
//     &__contentItem{
//         position: relative;
//         font-size: 24px;
//         padding: 20px;
//         display: none;
//         img{
//           border-radius: 5px;
//         }
//         &::after{
//             content: attr(data-after);
//             position: absolute;
//             width: 520px;
//             height: 477px;
//             left: -50px;
//             top: 80px;
//             z-index: -2;
          
//             background: $accent-color;
//             border-radius: 5px;
//         }
//         &::before{
//             content: attr(data-before);
//             position: absolute;
//             width: 520px;
//             height: 477px;
//             right: -10px;
//             top: 100px;
//             z-index: -1;
        
//             border: 1px solid #fff;
//             border-radius: 5px;
//         }
      
//         &--active{
//             display: block;
//         }
//     }
// }

.advantage{
    display: flex;
    justify-content: space-around;

    &__tabList{
        display: flex;
        flex-direction: column;
    }

    &__tabText{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 30px 0px 140px;
        transition: all .3s ease;
        &::before{
            content: url(../img/icon-bg.png);
            position: absolute;
            filter: grayscale(100%);
            left: 25px;
            transition: all .3s ease;
        }
        &-brokering{
            &::after{
                content: url(../img/brokering-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
        &-capacity{
            &::after{
                content: url(../img/capacity-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
        &-tracking{
            &::after{
                content: url(../img/tracking-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
        &-support{
            &::after{
                content: url(../img/support-icon.svg);
                position: absolute;
                left: 53px;
            }
        }
    }
    &__tabBtn{
        height: 100%;
        background: $accent-color;
        line-height: 170px;
        display: block;
        padding: 0px 15px 0 10px;
        transition: all .3s ease;
        font-size: 0;

        position: relative;
        &::before{
            content: url(../img/more-btn.svg);
            position: absolute;
            right: 5px;
            top: 5px;
            width: 17px;
            height: 17px;
            z-index: 10;
        }
    }
    
    &__tabItem{
      width: 500px;
      height: 170px;
      background: rgba(31, 31, 33, 0.9);
      border-bottom: 1px solid #2F2F32;

      cursor: pointer;
      display: flex;
      
      &--active{
        background: rgba(40, 40, 43, 0.6);
        backdrop-filter: blur(20px);
        .advantage__tabBtn{
            font-size: 16px;
            padding-right: 30px;
        }
        .advantage__tabText::before{
            filter: grayscale(0%);
        }
      }
      &:hover{
            .advantage__tabBtn{
                font-size: 16px;
                padding-right: 30px;
            }
            .advantage__tabText::before{
                filter: grayscale(0%);
            }
        }
    }
    
    &__contentList{
        margin: 5px;
        padding: 20px;
    }
    
    &__contentItem{
        position: relative;
        font-size: 24px;
        padding: 20px;
        display: none;
        img{
          border-radius: 5px;
          padding: 50px;
        }
        background-image: 
        url(../img/anim-img1.png),
        url(../img/anim-img2.png);
        background-repeat: no-repeat;
        background-position: top right, bottom left;
      
        &--active{
            display: block;
        }
    }
}